[data-gaming_gundai="true"] {
    @keyframes gaming {
        100% {
            background-position-x: 200%;
        }
    }
    .rainbow-bg {
        animation-duration: 0.7s;

        background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
        animation-name: gaming;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        text-shadow: 0 0 2px white;
    }

    .rainbow-text {
        animation-duration: 0.7s;

        background: linear-gradient(to right, Magenta, yellow, Cyan, Magenta) 0% center/200%;
        animation-name: gaming;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        // For Text
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        color: transparent;
    }

    .rainbow-text-shadow {
        text-shadow: 0px 0px 80px black;
    }

    .rainbow-bg-shadow {
        box-shadow: 0px 0px 40px white;
    }
}
