@import "./gaming.scss";
@import "./darkmode.scss";

[data-gaming_gundai="true"] {
    .menu-action-text,
    .dropdown-menu {
        font-weight: bold;
        font-size: large;
    }

    .moremenu .show > .nav-link.rainbow-text,
    .moremenu .active > .nav-link.rainbow-text,
    .moremenu .nav-link.show.rainbow-text,
    .moremenu .nav-link.active.rainbow-text {
        @extend .rainbow-text;
    }

    #user-action-menu {
        @extend .rainbow-bg;
    }

    .moremenu .nav-link:hover {
        background-color: transparent !important;
    }
}

[data-gaming_gundai_dark="true"],
[data-gaming_gundai="true"] {
    .moremenu .nav-link:hover {
        background-color: transparent !important;
    }
}

[data-gaming_gundai_dark="true"] {
    #page.drawers .main-inner,
    #region-main {
        background-color: transparent !important;
    }

    .bg-white {
        background-color: var(--base) !important;
    }

    .list-group-item,
    .form-control {
        @extend .bg-base;
    }
}

[data-gaming_gundai_dark="true"]:not([data-gaming_gundai="true"]) {
    .logo {
        filter: invert(1) grayscale(100%);
    }
}
