@import "./gaming.scss";
@import "./darkmode.scss";

[data-gaming_gundai="true"] {
    .menu-action-text,
    .dropdown-menu {
        font-weight: bold;
        font-size: large;
    }

    .moremenu .show > .nav-link.rainbow-text,
    .moremenu .active > .nav-link.rainbow-text,
    .moremenu .nav-link.show.rainbow-text,
    .moremenu .nav-link.active.rainbow-text {
        @extend .rainbow-text;
    }

    #user-action-menu {
        @extend .rainbow-bg;
    }

    .moremenu .nav-link:hover {
        background-color: transparent !important;
    }
}

[data-gaming_gundai_dark="true"],
[data-gaming_gundai="true"] {
    .moremenu .nav-link:hover {
        background-color: transparent !important;
    }
}

[data-gaming_gundai_dark="true"] {
    @extend .text-content;

    #page.drawers .main-inner,
    #region-main {
        background-color: transparent !important;
    }

    .bg-white {
        background-color: var(--base) !important;
    }

    .list-group-item,
    .form-control {
        @extend .bg-base;
    }

    /* マイコース */
    .course-info-container,
    .card.dashboard-card,
    .card.dashboard-card div {
        @extend .bg-neutral;
        @extend .text-content;
    }
    .block .block-cards span.categoryname,
    .block .block-cards .btn-link {
        @extend .text-content;
    }

    .dropdown-menu .dropdown-item {
        @extend .text-content;
    }

    .block .block-cards .btn.btn-link.btn-icon:hover,
    .block .block-cards .show .btn.btn-link.btn-icon {
        @extend .bg-accent;
    }

    /* メッセージ */
    .message-app {
        @extend .bg-base;
    }
    .list-group a {
        @extend .text-content;
    }
    .view-overview-body > div > div {
        @extend .bg-base;
    }
    strong,
    p {
        @extend .text-content;
    }
    .message-app .dropdown .btn.btn-link.btn-icon {
        @extend .bg-accent;
    }

    /* hint icon */
    #page-footer .btn.btn-icon {
        @extend .bg-accent;
    }

    /* リンク */
    a:hover {
        @extend .text-accent;
    }

    /* ドロワー */
    .drawer.drawer-left {
        @extend .bg-base;
        @extend .text-content;
    }
    .drawerheader .btn.drawertoggle {
        @extend .text-content;
    }
    .courseindex .courseindex-item .courseindex-link:not(.courseindex-item.pageitem a),
    .courseindex .courseindex-item .courseindex-chevron {
        @extend .text-content;
    }
    .completioninfo i.icon {
        @extend .text-content;
    }
    .courseindex .courseindex-item.pageitem {
        @extend .bg-accent;
        * {
            @extend .text-base;
        }
    }

    /* ヘッダー */
    .navbar-light .navbar-toggler-icon {
        filter: invert(1) grayscale(100%);
    }

    /* 提出テーブル */
    .generaltable {
        @extend .text-content;
    }
    .generaltable tbody tr:hover {
        @extend .bg-base;
        @extend .text-content;
    }

    /* 提出ステータス */
    .activity-header {
        @extend .bg-base;
    }
}

[data-gaming_gundai_dark="true"]:not([data-gaming_gundai="true"]) {
    .logo {
        filter: invert(1) grayscale(100%);
    }
}
