[data-gaming_gundai="true"] {
    #login_button {
        color: black;
    }

    .login__main,
    .login__back {
        background-color: #e6e6e6;
    }

    .login__main {
        border-radius: 20px;
        box-shadow: 10px 5px 5px gray;
    }
}
